body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* BEGIN (write your solution here) */
p {
	vertical-align: center;
	horiz-align: center;
	margin-bottom: 12px;
}

form {
}

h1,h2,h3 {
	text-align: center;
	margin-bottom: 0;
	font-weight: 400;
}

img {
	horiz-align: center;
	vertical-align: middle;
	max-height: 100%;
	max-width: 100%;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 32px;
	margin-bottom: 8px;
}

h3 {
	font-size: 20px;
}

#header {
	margin-bottom: 32px;
	text-align: center;
}

#footer {
	margin-top: 64px;
	text-align: center;
}

/* Кнопки */
button,
button:active,
button:focus {
	outline: none;
}

button {
	horiz-align: center;
	vertical-align: middle;
	/*margin-left: 120px; !* Костыль для центрирования картинки-кнопки *!*/
	padding: 0;
	border: 0;
}

/* Ссылки */
a { text-decoration: none; color: #0f7afc; border-bottom: 1px solid; border-bottom-color: rgba(15, 122, 252, 0.2); }
a:hover { text-decoration: none; color: #cf0000; border-bottom-color: rgba(208, 64, 0, 0.2); }
a:visited { text-decoration: none; color: #800080; border-bottom-color: rgba(128, 0, 128, 0.2); }


/* Переменные */
/* use: var(--gray-color) */
:root {
	--main-color: #ff6f69;
	--green-color: #1ECD97;
	--gray-color: #bbbbbb;
}

.dislike {
	text-align: center; /* Выравнивание по центру */
}

/* END */
